<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="eth_animedbEntities" connectionString="metadata=res://*/Classes.Models.Test.csdl|res://*/Classes.Models.Test.ssdl|res://*/Classes.Models.Test.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;Persist Security Info=True;database=eth_animedb&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>